body{
  background-color: #f2f2f2;
  color: #333333;
  margin: 0px;
  padding: 0px;
}
.logo{
  position: absolute;
  top: 30px;
  left: 175px;
  color: #333333;
  font-size: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.logo-about{
  position: absolute;
  top: 45px;
  left: 420px;
  color: #333333;
  font-size: 15px;
  font-style: normal;
  font-family: monospace;
  font-weight: none;
}
.cina{
  position: absolute;
  font-style: monospace;
  font-weight: lighter;
  font-size: 20px;
  top: 80%;
  left: 20%;
}
.header{
  position: absolute;
  top: 75px;
  left: 175px;
  background: linear-gradient(90deg, #2b2b2b, #424242);
  border-left: 5px solid #2b2b2;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  width: 700px;
  height: 37px;
}
.contact-form{
  background-color: #48b5aa;
  position: absolute;
  top: 0px;
  left: 700px;
  border-left: 5px solid #2b2b2;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  width: 150px;
  height: 37px;
}
.phone{
  position: absolute;
  top: 2px;
  left: 19px;
  text-decoration: none;
  text-overflow: ellipsis;
  color: #f5f5f5;
}
.phone:hover{
  color: #dedede;
}
.phone2{
  position: absolute;
  top: 18px;
  left: 19px;
  text-decoration: none;
  text-overflow: ellipsis;
  color: #f5f5f5;
}
.phone2:hover{
  color: #dedede;
}
.adres{
  color: #e8e8e8;
  font-style: initial;
  font-weight: lighter;
  position: absolute;
  top: 10px;
  left: 20px;
}
h2{
  color: #303030;
  font-style: sans-serif;
  font-weight: lighter;
}
.ch{
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  top: 20%;
  left: 70%;
}
.op{
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  top: 80%;
  left: 10%;
}
.slider{
  max-width: 100px;
  position: absolute;
  top: 20%;
  left: 20%;
}

.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next{
  right: 0;
  position: absolute;
  top: 50%;
  left: 450%;
  width: 19px;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
  background-color: rgba(0, 0, 0, 0.8);
}
.text{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.axctive{
  background-color: #717171;
}
.fade{
  -webkit-animation-name:fade;
  -webkit-animation-duraction:1.5s;
  animation-name: fade;
  animation-duraction:1.5s;
}
@-webkit-keyframes fade{
  from{opacity: 0.4}
  to{opacity: 1}
}
@keyframes fade{
  from{opacity: 0.4}
  to{opacity: 1}
}
@media screen and (max-width: 600px){
  .header{
    width: 250px;
    position: absolute;
    top: 50px;
    left: 50px;
  }
  .contact-form{
    position: absolute;
    top: 0px;
    left: 300px;
  }
  .logo-about{
    position: absolute;
    top: 10px;
    left: 300px;
    font-size: 12px;
  }
  .logo{
    position: absolute;
    top: 5px;
    left: 50px;
  }
  .slider{
    position: absolute;
    left: 10%;
  }
  .ch{
    position: absolute;
    top: 95%;
    left: 10%;
  }
  .op{
    position: absolute;
    top: 130%;
    left: 10%;
  }
}
